<div class="contact" id="contact">
  <div class="container">
    <div class="">
      <div class="titlepage">
        <h2 class="fs-2">Contact us</h2>
      </div>
      <form class="main_form shadow p-3 mb-5 bg-body-tertiary rounded">
        <div id="emailHelp" class="form-text">
          We'll never share your information with anyone else.
        </div>
        <div class="row">
          <div class="mb-3">
            <label for="" class="form-label">Your Name</label>
            <input type="text" class="form-control" id="" />
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
          </div>

          <div class="mb-3">
            <label for="" class="form-label">Phone number</label>
            <input type="number" class="form-control" id="" />
          </div>

          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
              style="height: 100px"></textarea>
            <label for="floatingTextarea2 ms-5">Comments</label>
          </div>
          <div class="my-3">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>