<div class="container my-5 w-75 border border-4 border-info shadow-lg rounded-5">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div class="row jumbotron box8 p-5">
      <div class="col-sm-12 mx-t3 mb-4">
        <h2 class="text-center text-info">New password</h2>
        @if(errorMessage){
        <p class="bg-danger w-50 rounded-5 mx-auto p-3">{{errorMessage}}</p>
        }
      </div>
      <div class="col-sm-6 form-floating mb-3">
        <input type="password" class="form-control"
          [ngClass]="{'is-invalid': passwordControl.invalid && passwordControl.touched, 'is-valid': passwordControl.valid && passwordControl.touched}"
          id="password" placeholder="Password" formControlName="password">
        <label for="password" class="ms-3 text-secondary">Password</label>
        @if(passwordControl.errors && passwordControl.touched) {
        <div class="invalid-feedback">
          @if(passwordControl.errors['required']) {
          <p class="mb-0">Required</p>
          } @else if (passwordControl.errors['pattern']){
          <p class="mb-0">Password must be at least 3 characters and include both letters and numbers</p>
          }
        </div>
        }
      </div>

      <div class="col-sm-6 form-floating mb-3">
        <input type="password" class="form-control"
          [ngClass]="{'is-invalid': rePasswordControl.invalid && rePasswordControl.touched, 'is-valid': rePasswordControl.valid && rePasswordControl.touched}"
          id="rePassword" placeholder="Confirm Password" formControlName="rePassword">
        <label for="rePassword" class="ms-3 text-secondary">Confirm Password</label>
        @if(rePasswordControl.errors && rePasswordControl.touched){
        <div class="invalid-feedback">
          @if(rePasswordControl.errors['required']) {
          <p class="mb-0">Required</p>
          } @else if (rePasswordControl.hasError('passwordMismatch') &&
          rePasswordControl.touched){
          <p class="mb-0">Passwords do not match</p>
          }
        </div>
        }
      </div>

      <div class="col-sm-12 form-group mt-4">
        <button class="btn btn-info float-right d-block mx-auto mb-5 w-25" [disabled]="isLoading">
          @if(isLoading){
          <i class="fa-solid fa-spinner fa-spin-pulse"></i>
          }
          New password
        </button>
      </div>
    </div>
  </form>
</div>