<form [formGroup]="emailForm">
  <div class="row jumbotron box8 p-5">
    <div class="col-sm-12 mx-t3 mb-4">
      <h2 class="text-center text-info">Reset Password</h2>
      @if(errorMessage){
      <p class="bg-danger w-50 rounded-5 mx-auto p-3">{{errorMessage}}</p>
      }
    </div>

    <div class="form-floating mb-3 w-25 mx-auto">
      <input type="email" class="form-control"
        [ngClass]="{'is-invalid': emailControl.invalid && emailControl.touched, 'is-valid': emailControl.valid && emailControl.touched}"
        name="email" id="email" placeholder="Enter your email." formControlName="email">
      <label for="email" class="form-label ms-3 text-secondary">Email</label>
      @if(emailControl.errors && emailControl.touched) {
      <div class="invalid-feedback">
        @if(emailControl.errors['required']) {
        <p class="mb-0">Required</p>
        } @else if (emailControl.errors['email']){
        <p class="mb-0">Invalid email</p>
        }
      </div>
      }
    </div>
    <div class="col-sm-12 form-group mt-4">
      <button class="btn btn-info float-right d-block mx-auto mb-5 w-25" (click)="forgotPassword($event)"
        [disabled]="isLoading">
        @if(isLoading){
        <i class="fa-solid fa-spinner fa-spin-pulse"></i>
        }
        Reset Password
      </button>
    </div>
  </div>
</form>